
<form>
  <div class="form-area">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required><br/>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required><br/>
    <p>Security Question</p>
    <select name="" id="">
        <option value="">
            what is your mother's name?
        </option>
        <option value="">
                what is your first pet name?
            </option>
            <option value="">
                    what is your first school name?
                </option>
                </select>
                <p></p>
                <input type="text" name="" id="" placeholder="Your answer here">
        
    <input type="submit" value="Sign In">
    
    <span class="psw"><a href="#"> Forget password?</a></span><br/><br/>

    <a routerLink='/registration'>Create New Account-></a>
</div>

</form>

<router-outlet></router-outlet>